.navigation {
  /* calculated height: 68 px */
  /* border: 1px solid rgb(214, 43, 226); */
  height: 36px;
  padding: 16px;
  background-color: #1D1E22;
  color: #FFF;
}

.flexContainer {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  min-width: calc(100vw - 2em);
  gap: 0em;
  row-gap: 0em;
}

.flexItem {
  width: 50%;
}

.leftNav {
  display: block;
  display: inline-block;
  line-height: 36px;
  height: 36px;
  background: linear-gradient(to right, #2bf9f9, #e757fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightNav {
  display: flex;
  color: #ddd;
  margin-left: auto;
  line-height: 36px;
  height: 36px;
  width: auto;
}

.balance {
  display: inline-block;
  margin: 0 1em;
}

.terminate {
  margin-right: 1em;
}

.tag {
  display: flex;
  height: 16px;
  align-items: center;
  font-weight: 600;
  margin: 9px 1em 0 0;
  font-size: 9px;
  padding: 3px;
  color: #aaa;
  outline: 1px solid #81288d;
  border-radius: 4px;
  user-select: none;
}