:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root button {
  color: #FFF !important;

}

a {
  font-weight: 500;
  color: #e757fa;
  text-decoration: underline;
}
a:hover {
  color: #2bf9f9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root button {
  border-radius: 6px;

  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(to right, #2bf9f9, #e757fa);
  background-origin: border-box;
  background-clip: content-box, border-box;

  background: linear-gradient(to right, #2bf9f9, #e757fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.75em 0.5em;
  display: inline-block;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  cursor: pointer;
  cursor: hand;
  user-select: none;
}

#root button:hover {
  background-color: #244982;
}

#root button:disabled {
  background-color: #244982;
  color: #7697C8;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: small;
  }
}
@media only screen and (min-width: 600px) {
  :root {
    font-size: medium;
  }
}