/* *, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: content-box !important;
}  */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

button.dapp {
  color: #FFF !important;
}

a.dapp {
  font-weight: 500;
  color: #e757fa;
  text-decoration: underline;
}
a.dapp:hover {
  color: #2bf9f9;
}

h1.dapp {
  font-size: 3.2em;
  line-height: 1.1;
}

button.dapp {
  border-radius: 6px;

  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(to right, #2bf9f9, #e757fa);
  background-origin: border-box;
  background-clip: content-box, border-box;

  background: linear-gradient(to right, #2bf9f9, #e757fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.75em 0.5em;
  display: inline-block;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  cursor: pointer;
  cursor: hand;
  user-select: none;
}

button.dapp:hover {
  background-color: #244982;
}

button.dapp:disabled {
  background-color: #244982;
  color: #7697C8;
  cursor: not-allowed;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a.dapp:hover {
    color: #747bff;
  }
  button.dapp {
    background-color: #f9f9f9;
  }
} */

@media only screen and (max-width: 600px) {
  :root {
    font-size: small;
  }
}
@media only screen and (min-width: 600px) {
  :root {
    font-size: medium;
  }
}